table#cart {
  width: 100%;
  border-collapse: collapse;
}

table#cart th,
table#cart td {
  padding: 0.5em;
}

table#cart td {
  border: 1px solid;
}

table#cart tfoot {
  background: #eee;
}

input {
  font: inherit;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: inherit;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-delete {
  color: #fff;
  background-color: #cf000f;
  border-color: #cf000f;
}


.navs{
  background-color: #18BC9C;
}

body{
  background-color: #FFFFF8;
}


#jb{
  
  
  
  color: #fff;
  background-image: url(../src/wall3.png);
  border-radius: 0%;
  
  
  
 
}


footer{
  background-color: #253444;
}

.copy{
  background-color: #1A252F;
 
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

}

.iconsf{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
}
.ic{
  margin:20px;
}













.gb{
  
  margin:auto;
 
  justify-content: center;
}