.jbAdm{
    background-image: url(../img/admin.png);
    margin-bottom: 0%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titAdm{
    margin-top: 100px;
    margin-bottom: 75px;
}