.jbIndex{ 
    background-image: url(../img/3.png);
    margin-bottom: 0%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1-0{
    padding: 50px;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
    width: 80%;
    margin: 5% 10% 0% 10%;
    color: var(--colorWhite);
}
.container1-1{
    width: 50%;
    
}
.container1-2{
    width: 50%;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

.container2-0{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 5% 10% 0% 10%;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    box-shadow:-3px -3px  rgb(0, 0, 0);
    color:#495057;
    
}
.container2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    
}

.container2-2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 18px;
    margin-left:50px;
}
.container2-3{
    width: 40%;
    margin-left: 20px;
}
.container3-0{
    padding: 50px;
    margin: auto;
    width: 80%;
    height: 389;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 100px;
    color: var(colorBlueClea);
    line-height:  1.5;
    letter-spacing: 1px;
    backdrop-filter: blur(40px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}



.container4-0{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 80%;
    margin: 5% 10% 0% 10%;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    box-shadow:-3px -3px  rgb(0, 0, 0);
    color:#495057;
    justify-content: space-between;
    margin-bottom: 100px;
}
.container4-1{
    display: flex; 
    align-items: center;
    flex-direction:column;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
}

.container4-2{
    width: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 18px;
    margin-right: 40px;
}
.container4-3{
    width: 40%;
    
}

/*Carrusel*/

.carousel {
    margin: 30px auto 60px;
    padding: 0 80px;
}
.carousel .thumb-wrapper {
    margin: 5px;
    background: #fff;
    border-radius: 25px;
}

.carousel .thumb-content {
    padding: 15px;
    font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 44px;
    width: 44px;
    background: none;
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}




.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
    border: none;
}



.carousel-indicators li.active {
    background: #6fc4c5d8;
}

.img-box {
    display: flex;
    justify-content: center;
}

.thumb-content {
    text-align: center;
}

.img-fluid {
    height: 50%;
    width: 50%;
    margin-top: 20px;
}

.carousel-test {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}



.jumbotron-testimonios{
    background-color: #0000002f;
}


