/* Estilos */

@import url(./inicio.css);
@import url(./nosotros.css);
@import url(./servicios.css);
@import url(./ayuda.css);
@import url(./cita.css);
@import url(./map.css);
@import url(./agendar.css);
@import url(./index.css);
@import url(./medias.css);


/*Nuevo*/
@import url(./chmod.css);
@import url(./admin.css);
@import url(./registrar.css);
/* Variables */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Poppins', sans-serif;
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorBlueClear: #253444;
    --colorBlueDark: #1A252F;
    --colorBlueLight: #51789c;
    --colorGreen: #18BC9C;
    --colorBone: #f8f6f1;
    --colorSkye: #6fc3c5;
    --colorPurple: rgb(197, 69, 223);
}

body{
    background-color: #9dc1e2;

}


.navStyle{
    
    background-color: var(--colorBlueDark);
}

.btnNav{
    color: var(--colorWhite);
   
}

.btnNav:hover{
    color: var(--colorGreen);
}
.btnUser{
    color: var(--colorWhite);
    border-color: var(--colorGreen);
}
.btnUser:hover{
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    border:none;
}

.ulNavStyle{
    font-weight: bold;
    
}




.titleFooter{
    background-color: var(--colorBlueClear);
    color: var(--colorWhite);
    margin-bottom: 0px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
/*FOOTER*/
.footerStyle{
    background-color: var(--colorBlueClear);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.footerStyle ul li {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    
    
}
.footerStyle ul li a{
    display: block;
    padding: 0 10px;
    background-color: var(--colorGreen);
    border-radius: 50px;
    color: var(--colorWhite);
    line-height: 50px;
    font-size: 23px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.footerStyle ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
}
.footerStyle ul li .icon:hover{
    background-color: var(--colorWhite);
    color: var(--colorGreen);
}


.footerStyleD{
    background-color: var(--colorBlueDark);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorWhite);
}

.titleStyle{
    color: var(--colorBlueDark);
}
.parrafStyle{
    color: var(--colorBlueClear);
}

/*STYLE BTN DEFAULT */
.btnDef{
    background-color: var(--colorGreen);
    color: var(--colorWhite);
}
.btnDef:hover{
    background-color: var(--colorWhite);
    color: var(--colorGreen);
    
}
