@media screen and (max-width: 600px) {

.jumbotronInicio{
    height: 200px;
}
.jumbotronNosotros{
    height: 200px;
}
.jumbotronServicios{
    height: 200px;
}
.jumbotronContacto{
    height: 200px;
}
.jumbotronCita{
    height: 200px;
}
.tituloJB{
    font-size: 30px;
}
.parrafoJB{
    font-size: 18px;
}
.containerabout, .jumbotron-about, .container__card, .card__father, .cardd {
    width: 400px;
    height: 400px;  
}
.parrafoCard{
    display: none;
}
.parrafoCardM{
    display: inline-block;
}
.containerabout{
    background: none;
}
}
