
.card-header-first{
	margin-top:-70px;
    height: 150px; 
    width: auto;
    background-color: transparent;
}


/*efecto shadows para todas las tarjetas*/
.card-section{
	box-shadow: 0 2px 20px 0 rgba(5, 4, 58, 0.609), 0 2px 10px 0 rgba(0,0,0,.12);
}
/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover{
	box-shadow:1px 1px 20px #08907a9d;
}

/*------------------------------------------------------------------------*/

#centrador{
    display: flex;
    align-items: center;
    justify-content: center;
  } 

#imagen{  
    border-radius: 20px;
    width: 180px;
    box-shadow:1px 5px 15px #a2a2a2;
}

.card-style{
  border-radius: 24px;
  border-color: var(--colorGreen);
  border-width: 3px;
}

.text-muted{
    font-size: 20px;
}

.card-title{
    font-size: 30px;
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;

}

.button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
}

.button:hover{
  background-color: var(--colorBlueClear);
  border-radius: 50px;
}
.icon{
    width: 45px;
    height: 45px; 
}

#line{
    background: var(--colorGreen);
    border-width: 3px;
}

.card-text{
    font-size: 22px;
    color: rgba(46, 43, 43, 0.849);
}

/* Estilos de imagen */
#imagen{  
    border-radius: 24px;
    width: 180px;
}
/* Estilos de las cards */
.card-style{
  border-radius: 24px;
  border-color: var(--colorGreen);
  border-width: 3px;
}
/* Estilos del texto inferior*/
.text-muted{
    font-size: 16px;
}
/* Estils del texto del titulo */
.card-title{
    font-size: 30px;
}
/* Estilos del jumbotron */ 
.jumbotronNosotros{
    color: var(--ColorWhite);
    letter-spacing: 3px;
    border-radius: 0%;
    /*background-color: var(--colorBlueClear);*/

    
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fotos/nosotros.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  
  }

/*Le da formato al titulo de la Hero image*/

  .heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--ColorWhite);
  }

/*Le da estilo al button de la Hero image*/

.btnJB{
  background-color: var(--colorGreen);
  border-radius: none;
  color: var(--ColorWhite);
}

/*Le da estilo al button de la Hero image al pasar el puntero*/

.btnJB:hover{
  background-color: aliceblue;
  color: var(--colorGreen);
}