#centrador{
    position: relative;
    /* width: 400px;
    height: 400px;
    background-color: rgb(251, 251, 251); */
  } 
  
  #imagen{
      position: relative;
      width: 200px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
  }

/* Estilos del jumbotron */
.jumbotronNosotros{
    color: var(--ColorWhite);
    letter-spacing: 3px;
    background-color: var(--colorBlueClear);
    border-radius: 0%;
}