.jbReg {
    background-image: url(../img/registro.png);
    margin-bottom: 0%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}