.jbReg {
    background-image: url(../img/registro.png);
    margin-bottom: 0%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos botones*/
.btnClean{
    background-color: var(--colorBlueLight);
    color: var(--colorWhite);
}
.btnClean:hover{
    background-color: var(--colorWhite);
    color: var(--colorBlueLight);
    
}

.btnCancel{
    background-color: var(--colorBlueClear);
    color: var(--colorWhite);
}
.btnCancel:hover{
    background-color: var(--colorWhite);
    color: var(--colorBlueClear);
    
}