
.titleFormat{
    font-size: 19px;
    font-weight: bold;
}

    


.btnAdd{
    background-color: var(--colorGreen);
    color: var(--ColorWhite);
    border-radius: 15px;
    float: right;
}

.cloud{
    background-color: var(--colorBlueClear);
    color: var(--ColorWhite);
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 35px;

}